.trend-loading-failure-con {
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 30px 10px 30px;
}

.trend-failure-mgs-con {
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-image {
  margin: 0px 10px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 170px !important;
  width: 255px !important;
  border-radius: 35px;
  border: none;
}

@media screen and (max-width: 768px) {
  .logo-image {
    margin: 0px 10px !important;
    padding-left: 15px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 200px !important;
    width: 150px !important;
    border-radius: 35px !important;
    border: none;
  }

  .size-width {
    text-align: center;
  }
}
.slick-prev:before,
.slick-next:before {
  color: white;
}

@media screen and (min-width: 768px) {
  .size-width {
    width: 85%;
    text-align: center;
    margin: 100px;
  }
}

.slick-slider,
.slick-list {
  background-color: transparent;
}
