.trend-loading-failure-con {
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 30px 10px 30px;
}

.trend-failure-mgs-con {
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrong {
  width: 50px;
}

.went-wrong-mgs {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
}

.try-again-btn {
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  color: #171f46;
  height: 38px;
  width: 120px;
}
